### THE BOSTON MARATHON

### Clustering Challenge

In [1]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import MiniBatchKMeans
%matplotlib inline

In [2]:
data = pd.read_csv('./results.csv')

In [3]:
pd.set_option('display.max_columns', 16164)
data.head()

,25k,age,name,division,10k,gender,half,official,bib,ctz,country,overall,pace,state,30k,5k,genderdiv,20k,35k,city,40k
0,49.87,28,"Cassidy, Josh R.",9,18.18,M,40.93,90.90,W1,NaN,CAN,9,3.47,ON,62.07,8.90,9,38.80,74.73,Toronto,85.55
1,77.27,30,"Korir, Wesley",5,30.90,M,64.90,132.50,1,NaN,KEN,5,5.07,NaN,92.97,15.90,5,61.52,108.78,Kenya,124.77
2,77.23,23,"Desisa, Lelisa",1,30.90,M,64.92,130.37,2,NaN,ETH,1,4.98,NaN,92.72,15.93,1,61.53,108.68,Ambo,123.78
3,50.50,32,"Fearnley, Kurt H.",5,18.73,M,42.00,88.43,W2,NaN,AUS,5,3.38,NaN,61.35,8.98,5,39.88,73.00,Hamilton,83.43
4,48.75,39,"Hokinoue, Kota",3,18.18,M,40.57,87.22,W3,NaN,JPN,3,3.33,NaN,59.92,8.92,3,38.55,71.68,Iizuka,81.88

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16164 entries, 0 to 16163
Data columns (total 21 columns):
25k          16164 non-null object
age          16164 non-null int64
name         16164 non-null object
division     16164 non-null int64
10k          16164 non-null object
gender       16164 non-null object
half         16164 non-null object
official     16164 non-null float64
bib          16164 non-null object
ctz          757 non-null object
country      16164 non-null object
overall      16164 non-null int64
pace         16164 non-null float64
state        14701 non-null object
30k          16164 non-null object
5k           16164 non-null object
genderdiv    16164 non-null int64
20k          16164 non-null object
35k          16164 non-null object
city         16163 non-null object
40k          16164 non-null object
dtypes: float64(2), int64(4), object(15)
memory usage: 2.6+ MB

In [25]:
pd.set_option('display.max_rows', 16164)
data[['ctz', 'country', 'state']].head()

   ctz country              state
0  NaN     CAN                 ON
1  NaN     KEN  Not USA or canada
2  NaN     ETH  Not USA or canada
3  NaN     AUS  Not USA or canada
4  NaN     JPN  Not USA or canada

There is no clear pattern of missiness between 'ctz' and the other logically related features such as 'country' and state.But considering the large number of missing value in 'ctz',it is better to remove that feature.Looking in to the 'state' and 'country' features we can understand that the 'state' has values when country is either USA or Canada but it is 'NaN' when it is otherwise.therefore i decided to fill new values to the 'NaN's as 'Not USA or Canada'.Lets Fill NaNs on the states attribute with some use full information than droping it.The data points in our data set consists of over 90% of the runners are from the USA and Canada.Only around 9% are from outside USA and Canada.

In [6]:
data['state'].fillna('Not USA or canada', inplace = True)

Since the 'ctz' attribute has large number of NaN values lets drop it.

In [7]:
new_data = data.drop('ctz', axis = 1)

In [8]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16164 entries, 0 to 16163
Data columns (total 20 columns):
25k          16164 non-null object
age          16164 non-null int64
name         16164 non-null object
division     16164 non-null int64
10k          16164 non-null object
gender       16164 non-null object
half         16164 non-null object
official     16164 non-null float64
bib          16164 non-null object
country      16164 non-null object
overall      16164 non-null int64
pace         16164 non-null float64
state        16164 non-null object
30k          16164 non-null object
5k           16164 non-null object
genderdiv    16164 non-null int64
20k          16164 non-null object
35k          16164 non-null object
city         16163 non-null object
40k          16164 non-null object
dtypes: float64(2), int64(4), object(14)
memory usage: 2.5+ MB

The 'city' variable has only one missing value and removing that row will not have a significant information loss.

In [9]:
new_data[new_data['city'].isnull()].index

Int64Index([10138], dtype='int64')

In [10]:
new_data = new_data.drop(10138, axis = 0)

In [11]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16163 entries, 0 to 16163
Data columns (total 20 columns):
25k          16163 non-null object
age          16163 non-null int64
name         16163 non-null object
division     16163 non-null int64
10k          16163 non-null object
gender       16163 non-null object
half         16163 non-null object
official     16163 non-null float64
bib          16163 non-null object
country      16163 non-null object
overall      16163 non-null int64
pace         16163 non-null float64
state        16163 non-null object
30k          16163 non-null object
5k           16163 non-null object
genderdiv    16163 non-null int64
20k          16163 non-null object
35k          16163 non-null object
city         16163 non-null object
40k          16163 non-null object
dtypes: float64(2), int64(4), object(14)
memory usage: 2.6+ MB

In [12]:
new_data.head(40)

,25k,age,name,division,10k,gender,half,official,bib,country,overall,pace,state,30k,5k,genderdiv,20k,35k,city,40k
0,49.87,28,"Cassidy, Josh R.",9,18.18,M,40.93,90.90,W1,CAN,9,3.47,ON,62.07,8.90,9,38.80,74.73,Toronto,85.55
1,77.27,30,"Korir, Wesley",5,30.90,M,64.90,132.50,1,KEN,5,5.07,Not USA or canada,92.97,15.90,5,61.52,108.78,Kenya,124.77
2,77.23,23,"Desisa, Lelisa",1,30.90,M,64.92,130.37,2,ETH,1,4.98,Not USA or canada,92.72,15.93,1,61.53,108.68,Ambo,123.78
3,50.50,32,"Fearnley, Kurt H.",5,18.73,M,42.00,88.43,W2,AUS,5,3.38,Not USA or canada,61.35,8.98,5,39.88,73.00,Hamilton,83.43
4,48.75,39,"Hokinoue, Kota",3,18.18,M,40.57,87.22,W3,JPN,3,3.33,Not USA or canada,59.92,8.92,3,38.55,71.68,Iizuka,81.88
5,77.25,28,"Gebremariam, Gebregziabher",3,30.88,M,64.92,130.47,3,ETH,3,4.98,Not USA or canada,92.72,15.93,3,61.53,108.70,Tigray,123.78
6,50.50,42,"Soejima, Masazumi",6,18.73,M,41.98,90.02,W4,JPN,6,3.43,Not USA or canada,61.63,8.98,6,39.87,74.00,Fukuoka,84.67
7,77.23,28,"Geneti, Markos",6,30.88,M,64.90,132.73,4,ETH,6,5.07,Not USA or canada,92.93,15.90,6,61.52,109.07,Addis Ababa,125.20
8,52.62,49,"Schabort, Krige",11,19.77,M,43.97,91.78,W5,USA,11,3.50,GA,64.00,9.38,11,41.77,75.95,Cedartown,86.48
9,77.25,32,"Merga, Deriba",25,30.90,M,64.92,141.67,5,ETH,27,5.42,Not USA or canada,92.77,15.93,27,61.53,111.13,Addis Ababa,131.98
10,77.25,23,"Matebo, Levy",12,30.90,M,64.92,135.70,6,KEN,12,5.18,Not USA or canada,92.72,15.92,12,61.52,108.68,Kitale,125.50
11,48.75,40,"Van Dyk, Ernst F.",2,18.18,M,40.57,87.20,W6,RSA,2,3.33,Not USA or canada,59.92,8.92,2,38.57,71.68,Paarl,81.88
12,52.62,37,"Hamerlak, Tomasz",10,19.77,M,43.97,91.78,W7,POL,10,3.50,Not USA or canada,63.98,9.37,10,41.70,75.97,Bystra,86.47
13,48.75,27,"Hug, Marcel E.",4,18.18,M,40.57,88.32,W8,SUI,4,3.38,Not USA or canada,60.10,8.93,4,38.55,72.62,Nottwil,83.15
14,77.25,26,"Chumba, Dickson",7,30.90,M,64.90,134.13,8,KEN,7,5.12,Not USA or canada,92.70,15.90,7,61.53,108.68,Nandi,125.27
15,52.63,34,"Botello Jimenez, Rafael",13,19.77,M,44.13,95.47,W9,ESP,13,3.65,Not USA or canada,65.68,9.38,13,41.77,79.15,Manlleu,89.93
16,52.63,55,"Frei, Heinz",12,20.32,M,44.18,93.12,W10,SUI,12,3.57,Not USA or canada,64.35,9.93,12,42.03,77.07,Etziken,87.73
17,53.07,46,"Filteau, Michel",14,19.75,M,44.20,95.48,W11,CAN,14,3.65,QC,65.68,9.38,14,42.05,79.13,St-Jean Baptiste,89.88
18,55.60,35,"Puigbo, Roger Sr.",20,20.78,M,46.18,101.07,W12,ESP,20,3.87,Not USA or canada,68.18,9.50,20,43.90,82.13,Sant Juluia De Vilatorta,94.73
19,49.87,33,"Madera, Jorge",8,18.20,M,40.93,90.90,W13,ESP,8,3.47,Not USA or canada,62.07,8.93,8,38.80,74.75,Les Franquesas,85.57
20,50.50,48,"Lemeunier, Denis",7,18.73,M,42.00,90.88,W14,FRA,7,3.47,Not USA or canada,62.37,8.98,7,39.88,75.03,Taule,85.57
21,77.80,30,"Hunt, Jeffrey",8,30.95,M,65.58,134.47,14,AUS,8,5.13,Not USA or canada,94.02,15.90,8,62.20,110.47,Randwick,126.95
22,53.08,29,"Kim, Gyu Dae",15,19.78,M,44.18,95.98,W15,USA,15,3.67,IL,65.97,9.37,15,42.02,79.82,Champaign,90.45
23,77.28,32,"Hartmann, Jason",4,30.92,M,64.92,132.20,15,USA,4,5.05,CO,93.17,15.57,4,61.52,109.25,Boulder,125.18
24,58.33,48,"Gordian, Aaron A. Sr.",22,20.90,M,48.08,103.85,W16,USA,22,3.97,AZ,72.20,9.93,22,45.45,85.98,Phoenix,97.90
25,77.60,30,"Cabada, Fernando",15,30.93,M,65.13,138.38,16,USA,16,5.28,CO,94.08,15.58,16,61.72,111.45,Boulder,129.62
26,56.05,29,"George, Josh",18,21.38,M,46.72,97.68,W17,USA,18,3.73,IL,68.22,10.42,18,44.38,80.95,Champaign,92.17
27,55.60,26,"Pike, Aaron L.",19,20.15,M,46.18,99.22,W18,USA,19,3.78,IL,68.18,9.37,19,43.88,82.00,Champaign,93.40
28,77.15,29,"Watson, Robin",11,30.92,M,64.92,135.55,18,CAN,11,5.18,BC,93.33,15.57,11,61.52,110.28,Vancouver,127.60
29,59.55,37,"Bleakney, Adam",24,22.18,M,49.43,105.95,W19,USA,25,4.05,IL,73.42,10.70,24,47.00,88.12,Champaign,99.73
30,77.27,26,"Kogo, Micah",2,30.90,M,64.92,130.45,19,KEN,2,4.98,Not USA or canada,92.72,15.92,2,61.53,108.70,Eldoret,123.78
31,48.32,46,"Yamamoto, Hiroyuki",1,18.03,M,40.27,85.53,W20,JPN,1,3.27,Not USA or canada,59.45,8.87,1,38.23,71.18,Fukuoka,80.55
32,55.63,41,"Compaore, Jean Paul",16,20.90,M,46.22,97.57,W21,CAN,16,3.73,QC,68.00,10.13,16,43.87,80.82,Sherbrooke,92.17
33,78.95,27,"Trujillo, Carlos",18,31.35,M,66.63,139.40,21,USA,19,5.32,ID,95.43,15.92,19,63.20,113.17,Middleton,131.47
34,56.05,18,"Arkley, Nathenial",17,21.40,M,46.72,97.58,W22,AUS,17,3.73,Not USA or canada,68.22,10.40,17,44.38,80.83,Adelaide,92.17
35,78.93,26,"Tapia, Daniel",9,31.40,M,66.63,134.50,22,USA,9,5.13,CA,95.02,15.92,9,63.20,111.17,Castroville,127.37
36,55.60,40,"Yasuoka, Choke",21,19.77,M,46.20,102.10,W23,JPN,21,3.90,Not USA or canada,69.53,9.08,21,43.90,84.00,"Fuchu, Tokyo",95.97
37,78.95,28,"Leon, Craig",10,31.37,M,66.63,134.63,23,USA,10,5.15,OR,94.95,15.92,10,63.18,111.15,Eugene,127.37
38,61.92,23,"Siemann, Brian",25,23.18,M,51.62,109.23,W24,USA,27,4.17,IL,75.75,11.25,25,48.98,90.55,Champaign,103.17
39,80.38,32,"Ordway, Josh",37,31.63,M,67.50,145.72,25,USA,45,5.57,OH,98.37,15.93,45,63.92,117.42,Franklin,137.58

In [13]:
new_data.nunique()

25k           3245
age             61
name         16136
division      3698
10k           1459
gender           2
half          2761
official      5370
bib          16156
country         68
overall      16106
pace           362
state           66
30k           3862
5k             808
genderdiv     9811
20k           2644
35k           4539
city          4416
40k           5136
dtype: int64

from the data info,we can see that majority of the attributes are categorical(Objects).In real terms however that is not the case.Therefore we need to change the type to numerical in order to perform proper analysis.But lets remove first the '-' character from the data.

In [14]:
Columns = ['25k', '10k', 'half', '30k', '5k', '20k', '35k', '40k', 'age']
for col in Columns:
    numeric_data = new_data.drop(new_data[new_data[col] == '-'].index)
numeric_data = numeric_data[Columns].apply(pd.to_numeric, errors = 'coerce') 
numeric_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16163 entries, 0 to 16163
Data columns (total 9 columns):
25k     16140 non-null float64
10k     16137 non-null float64
half    16147 non-null float64
30k     16146 non-null float64
5k      16097 non-null float64
20k     16146 non-null float64
35k     16142 non-null float64
40k     16146 non-null float64
age     16163 non-null int64
dtypes: float64(8), int64(1)
memory usage: 1.2 MB

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Now lets fill NaN values

In [16]:
for feature in numeric_data.columns:
    numeric_data[feature] = numeric_data.groupby(['age'], sort=False)[feature].apply(lambda x: x.fillna(x.mean()))

In [17]:
dummied_cols = ['country','state','gender']
for column in dummied_cols:
    numeric_data = pd.concat([numeric_data, (pd.get_dummies(new_data[column]))], axis = 1)

Lets concat the other numerical coulumns;

In [18]:
other_cols = new_data[['division', 'official','pace', 'overall', 'genderdiv', 'age']]
numeric_data = pd.concat([numeric_data,other_cols], axis = 1)
numeric_data.head()

,25k,10k,half,30k,5k,20k,35k,40k,age,ARG,ARU,AUS,AUT,BAH,BEL,BER,BOL,BRA,CAN,CAY,CHI,CHN,COL,CRC,CZE,DEN,DOM,ECU,ESA,ESP,EST,ETH,FIN,FRA,GBR,GER,GRE,GUA,HKG,HUN,IND,IRL,ISL,ISR,ITA,JPN,KEN,KOR,LTU,MAS,MEX,NED,NOR,NZL,PAN,PER,PHI,POL,POR,QAT,RSA,RUS,SIN,SLO,SUI,SVK,SWE,TCA,TRI,TUR,TWN,UAE,UKR,URU,USA,VEN,VGB,AB,AE,AK,AL,AP,AR,AZ,BC,CA,CO,CT,DC,DE,FL,GA,HI,IA,ID,IL,IN,KS,KY,LA,MA,MB,MD,ME,MI,MN,MO,MS,MT,NB,NC,ND,NE,NH,NJ,NL,NM,NS,NV,NY,Not USA or canada,OH,OK,ON,OR,PA,PE,PR,QC,RI,SC,SD,SK,TN,TX,UT,VA,VT,WA,WI,WV,WY,YT,F,M,division,official,pace,overall,genderdiv,age
0,49.87,18.18,40.93,62.07,8.90,38.80,74.73,85.55,28,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,9,90.90,3.47,9,9,28
1,77.27,30.90,64.90,92.97,15.90,61.52,108.78,124.77,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,5,132.50,5.07,5,5,30
2,77.23,30.90,64.92,92.72,15.93,61.53,108.68,123.78,23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,130.37,4.98,1,1,23
3,50.50,18.73,42.00,61.35,8.98,39.88,73.00,83.43,32,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,5,88.43,3.38,5,5,32
4,48.75,18.18,40.57,59.92,8.92,38.55,71.68,81.88,39,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3,87.22,3.33,3,3,39

In [19]:
len(data.columns)

21

In [20]:
len(numeric_data.columns)

151

Our new data format has a dimension of 149.But originally it had only 21.

Our final data has high dimension and it is quite meaningless to apply dimension reduction techniques such as PCA because the numerical features are few.Therefore to use the data as is, it is better to use 'minibatchkmeans'.First thing first lets normalize our data to avoid scalling bias.

In [21]:
from sklearn.preprocessing import normalize
X_norm = normalize(numeric_data)

In [29]:
# Each batch will be made up of 200 data points.
minibatchkmeans = MiniBatchKMeans(
    init='random',
    n_clusters=3,
    batch_size=200)
minibatchkmeans.fit(numeric_data)

# Predict new MiniBatch cluster memberships.
predict_mini = minibatchkmeans.predict(numeric_data)

When it comes to Evaluating our model,unfortunately we dont have ground truth or an outcome real data to compare our model to.Therefore the best way to evaluate our model is using Similarity silhouette coefficient.Lets apply that metric to our model and interpret its performance.But first lets divide our data into 4 samples and then compare the consistency of our models performance over those 4 sample.

In [30]:
#To help us in the split process
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
X_pca = pca.fit_transform(X_norm)

from sklearn.model_selection import train_test_split
X_half1, X_half2, X_pcahalf1, X_pcahalf2 = train_test_split(
    X_norm,
    X_pca,
    test_size=0.5,
    random_state=42)

# Then we halve the halves.
X1, X2, X_pca1, X_pca2 = train_test_split(
    X_half1,
    X_pcahalf1,
    test_size=0.5,
    random_state=42)
X3, X4, X_pca3, X_pca4 = train_test_split(
    X_half2,
    X_pcahalf2,
    test_size=0.5,
    random_state=42)

In [31]:
from sklearn import metrics
from sklearn.metrics import pairwise_distances

for sample in [X1, X2, X3, X4]:
    model = minibatchkmeans.fit(sample)
    labels = model.labels_
    print(metrics.silhouette_score(sample, labels, metric='euclidean'))

0.5948965726028217
0.6000312063511382
0.5985404370619456
0.5943894311406339

From the Similiarity metrics in the above,We can see that the clustering is consistent across the four samples.This shows that our model's performance is really good.But when the number of clusters is greater than 4 the performance consistency starts to cramble.

In [33]:
# Each batch will be made up of 200 data points.
minibatchkmeans = MiniBatchKMeans(
    init='random',
    n_clusters=4,
    batch_size=200)
minibatchkmeans.fit(numeric_data)

# Predict new MiniBatch cluster memberships.
predict_mini = minibatchkmeans.predict(numeric_data)

In [34]:
#To help us in the split process
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
X_pca = pca.fit_transform(X_norm)

from sklearn.model_selection import train_test_split
X_half1, X_half2, X_pcahalf1, X_pcahalf2 = train_test_split(
    X_norm,
    X_pca,
    test_size=0.5,
    random_state=42)

# Then we halve the halves.
X1, X2, X_pca1, X_pca2 = train_test_split(
    X_half1,
    X_pcahalf1,
    test_size=0.5,
    random_state=42)
X3, X4, X_pca3, X_pca4 = train_test_split(
    X_half2,
    X_pcahalf2,
    test_size=0.5,
    random_state=42)

In [35]:
from sklearn import metrics
from sklearn.metrics import pairwise_distances

for sample in [X1, X2, X3, X4]:
    model = minibatchkmeans.fit(sample)
    labels = model.labels_
    print(metrics.silhouette_score(sample, labels, metric='euclidean'))

0.6313919990960939
0.6326635182941471
0.4585951357770301
0.6261376726213478